body {
  margin: 0;
  font-family: Arial-Black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: black;
  overflow-x: none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MAIN MENU */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px 5px;
  font-size: 13vw;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 5vw;
  top: 1vw;
  text-align: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 160px;
  font-size: 3vw;
  z-index: 10000;
}

.dropdown-content a {
  color: white;
  padding: 0vw 0vw 5vw;
  text-decoration: none;
  text-align: left;
  display: block;

}

.dropdown-content a:hover {color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.drpbtn:hover {color: #ddd;}

/* Wireframe Link */

#wireframe-link {
  background-color: transparent;
  position: absolute;
  top: 25vw;
  left: 35vw;
  height: 20px;
  width: 20px;
}

#wireframe-link:hover {
  color: red;
}

#isohedron-link{
  background-color: transparent;
  position: absolute;
  top: 70vw;
  left: 35vw;
  height: 20px;
  width: 20px;
}

#isohedron-link:hover {
  color: red;
}

#torus-link{
  background-color: transparent;
  position: absolute;
  top: 120vw;
  left: 34vw;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  text-align: center;
}

#isohedron-link:hover {
  color: red;
}

#torus-link{
  background-color: transparent;
  position: absolute;
  top: 120vw;
  left: 34vw;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  text-align: center;
}

#torus-link:hover {
  color: red;
}

#octohedron-link{
  background-color: transparent;
  position: absolute;
  top: 170vw;
  left: 34vw;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  text-align: center;
}

#octohedron-link:hover {
  color: red;
}

/* Wireframe Modulation */

audio {
  position: fixed;
  left: 10px;
  bottom: 15px;
  width: calc(100% - 20px);
}

audio.active{
  bottom: 10px;
}

#thefile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
 
  
}

label.file{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  
  background: transparent;
  color: var(--textColor);
  font-size: 1.25em;
  font-weight: 700;
  white-space: nowrap;

  cursor: pointer;
}
 
label.file:hover{
    background: transparent;
    transform: translate3d(-50%, -55%, 0);
}

label.file:active{
    background: transparent;
    transform: translate3d(-50%, -45%, 0);
}
/* make smoother */
label.file.normal{
  transform: translate3d(5%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 2vw;
  left: 0;
}

/* ALTER CSS FOR LARGER VIEW - LABELS ARE OFFSET CURRENTLY*/